*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    display:flex;
    gap:30px;
    font-family:'Segoe UI', Arial,sans-serif;
    color: #fafafa;
    line-height:1.6;
    align-items:flex-start;
    background-color: #121212;
    padding:60px;
    justify-content: center;
}

html{
    scroll-behavior: smooth;
}
header{
    background:linear-gradient(180deg,rgba(53, 42, 60, 0.95) 0%, rgba(20, 20, 28, 0.95) 100%);
    border-right: 1px solid rgba(255, 255, 255,0.05);
    border-radius:20px;
    height: calc(100vh - 120px);
    width:280px;
    padding:40px 24px;
    text-align:left;
    position:sticky;
    top:60px;
    display:flex;
    flex-direction:column;
    flex-shrink:0;
    box-shadow:0 8px 32px rgba(0, 0, 0, 0.8);
}

header nav  .logo img{
    width:180px;
    height:100px;
    border:3px solid #6c5ce7;;
    padding:2px;
    border-radius:50%;
    padding:4px;
    object-fit: cover;
}
.logo img:hover{
    transform:scale(1.1);
}

.bottom{
    text-align:center;
    margin-top:auto;
    border-top:1px solid rgba(255,255,255,0.1);
}
header nav{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
    height:100%;
}

header nav ul{
    align-self:flex-start;
    margin-top:50px;
    width:100%;
}

header nav ul li{
    margin-bottom:8px;
}

header nav ul li a{
    font-weight:500;
    letter-spacing:0.5px;
    padding:10px 15px;
    border-radius:12px; 
    display:block;
    font-size:1.1rem;
    transition :all  0.3s ease;
}
header nav ul li a:hover{
    color:#a29bfe;
    background: rgba(108, 92, 231, 0.1);
    transform:translateX(8px);
}
.connect{
    font-size:0.85rem;
    color:#888;
    margin-bottom:5px;
    font-weight:600;
    letter-spacing:0.6px;
    text-transform:uppercase;
}

.bottom{
    display:flex;
    gap:15px;
    padding-top:15px;
}

.bottom a{
    color:#6c5ce7;
    font-size:0.9rem;
    font-weight:600;
    transition:color 0.3s;
}

.bottom a:hover{
    color:#fff;
    text-decoration: underline;
}
main{
    border:1px solid rgb(19,19,49);
    border-radius:13px;
    padding:30px;
    background-color:rgb(53, 42, 60);
    min-height: calc(100vh - 120px);

}

#home{
    padding:80px; 
    display:flex;
    flex-direction:column;
    align-items:center;
   
}

#home h1{
    font-size:90px;
    font-weight:700;
    margin-bottom:20px;
}

.highlight {
    background: linear-gradient(90deg, #a18cd1 0%, #fbc2eb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sub{
    font-size:24px;
    color:#ccc;
    margin-bottom:40px;
    font-weight:300;
}

.primary{
    color:white;
    background-color:#6c5ce7;
    padding:15px 35px;
    border-radius:50px;
    font-weight:600;
    font-size:18px;
    
    transition: all ease 0.3s;
    box-shadow:0px 4px 15px rgba(108, 92, 231, 0.3);
}

.primary:hover{
    background-color:#a18cd1;
    transform:translateY(-3px);
    box-shadow:0 6px 20px rgba(108, 92, 231, 0.5);
}
ul{
    list-style-type:none;
}
a{
    color:white;
    text-decoration:none;
}

#about{
    padding:40px 0;
    border-bottom:1px solid rgba(255, 255, 255, 0.1);
}

#about h2{
    font-size:36px;
    margin-bottom:20px;
    color:#fbc2eb;
}

.abouttext{
    font-size:18px;
    max-width:800px;
    margin-bottom:30px;
    color:#ddd;
}

.aboutlist{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.aboutlist li{
    background:rgba(255, 255, 255, 0.05);
    padding:15px;
    border-radius:9px;
    transform: transform 0.3s ease;
    margin-bottom:8px;
    font-size:17px;
    font-weight:400;
}

.aboutlist li:nth-child(1):hover{
    transform:translateX(10px);
    box-shadow:0px 10px 20px rgba(2161, 140, 209, 0.3);
    border-left:5px solid #a18cd1;
    background: rgba(161, 140, 209, 0.1);
}

.aboutlist li:nth-child(2):hover{
    transform:translateX(10px);
    box-shadow:0px 10px 20px rgba(2161, 140, 209, 0.3);
    border-left:5px solid #a18cd1;
    background: rgba(161, 140, 209, 0.1);
}

.aboutlist li:nth-child(3):hover{
    transform:translateX(10px);
    box-shadow:0px 10px 20px rgba(2161, 140, 209, 0.3);
    border-left:5px solid #a18cd1;
    background: rgba(161, 140, 209, 0.1);
}

#skills{
    padding:18px 0 40px;
    border-bottom:1px solid rgba(255, 255, 255, 0.1);
}

#skills h2{
    font-size:2rem;
    color:#fbc2eb;
    margin-bottom:24px;
}

#skills ul{
    display:grid;
    grid-template-columns:repeat(auto-fit ,minmax(250px,1fr));
   gap:40px;
}

#skills ul li{
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.1);
    padding:25px;
    border-radius:12px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    position:relative;
    overflow:hidden;
    transition:all 0.3s ease;
    color:#fafafa;
    font-weight:600;
    letter-spacing:0.5px;
}

#skills ul li:hover{
    background:rgba(161, 140, 209, 0.1);
    transform:translateY(-8px);
    border-color:#a18cd1;
    box-shadow:0px 15px 30px rgba(0, 0, 0, 0.4);
}

#projects{
    border-bottom:1px solid rgba(255, 255, 255, 0.1);
    padding-bottom:40px;
}
.pro{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:30px;
    margin-top:10px;
}

.pro article{
    border:1px solid rgba(255,255,255,0.1);
    border-radius:16px;
    background:rgba(255,255,255,0.05);
    padding:17px;
    transition:all 0.4s ease;

}


#projects h2{
    font-size:2rem;
    color:#fbc2eb;
    margin-bottom:8px;
    padding:18px 0px;
    display:flex;
}

.pro article:hover{
    transform:translateY(-8px);
    box-shadow:0px 15px 30px rgba(0, 0, 0, 0.4);
    border-color:#a18cd1;
    background:rgba(161, 140, 209, 0.1);
}

.pro article h3{
    margin-bottom:12px;
    font-size:1.2rem;
    color:#fff;
}

.pro article p{
    font-size:0.95rem;
    line-height:1.6;
    color:#bbb;
}
#contact{
    padding:20px 0px;
}

#contact h2{
    font-size:2rem;
    color:#fbc2eb;
    margin-bottom:20px;
}

.form{
    display:flex;
    flex-direction:column;
    gap:20px;
    max-width:600px;
}

.form label{
    font-size:0.9rem;
    font-weight:600;
    color:#a18cd1;
    text-transform: uppercase;
    letter-spacing:1px;
}

.form input,textarea{
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.1);
    border-radius:12px;
    padding:15px;
    color:#fff;
    font-family:inherit;
    font-size:1rem;
    transition:all 0.3s ease;
}

.form input:focus,.form textarea:focus{
    outline:none;
    background:rgba(255,255,255,0.08);
    border-color:#a18cd1;
    box-shadow:0 0 15px rgba(161, 140, 209, 0.3);
}

.form button{
    align-self:center;
    cursor:pointer; 
    margin-top:10px;
    border:none;
    padding:16x 40px;
    width:fit-content;
    border-radius:50px;
    background:linear-gradient(90deg,#a18cd1 0%,#fbc2eb 100%);
    color:#121212;
    font-weight:700;
    font-size:1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition:all 0.3 ease;
    box-shadow:0px 4px 15px rgba(161,140,209,0.4);
}

.form button:hover{
    transform:translateY(-3px) scale(1.02);
    box-shadow:0px 8px 25px rgba(251, 194, 235, 0.5);
    filter:brightness(1.1);
}